name: CI on Windows

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest # Using linux machine

    steps:
      - uses: actions/checkout@v2 # Checkout the code
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1 # Setup JAVA
        with:
          java-version: 1.8
      - name: Install Google Chrome # Using shell script to install Google Chrome
        run: |
          CHROME_VERSION=$(google-chrome --version | cut -f 3 -d ' ' | cut -d '.' -f 1) \
                  && CHROMEDRIVER_RELEASE=$(curl --location --fail --retry 3 http://chromedriver.storage.googleapis.com/LATEST_RELEASE_${CHROME_VERSION}) \
                  && curl --silent --show-error --location --fail --retry 3 --output /tmp/chromedriver_linux64.zip "http://chromedriver.storage.googleapis.com/$CHROMEDRIVER_RELEASE/chromedriver_linux64.zip" \
                  && cd /tmp \
                  && unzip chromedriver_linux64.zip \
                  && rm -rf chromedriver_linux64.zip \
                  && sudo mv chromedriver /usr/local/bin/chromedriver \
                  && sudo chmod +x /usr/local/bin/chromedriver \
                  && chromedriver --version

      - name: Build with Ant
        run: ant -noinput -buildfile build.xml

      - name: Compiling project
        run: ant all

      - name: Running project
        run: cd build/jar/libs
          && ls -l
          && cd ..
          && java -jar build.jar -Dwebdriver.chrome.driver=/home/runner/work/SeleniumJavaGitHubActions/SeleniumJavaGitHubActions/build/jar/libs/chromedriver_linux